@model List<DoAn.Models.Product>
@{
    ViewBag.Title = "sbar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <h5>Thương Hiệu</h5>
        <ul class="list-group">
            @foreach (var b in ViewBag.brands)
            {
                <li class="list-group-item"><a style="color:black;text-decoration:none" href="/Product/sbar/@b.BrandId">@b.BrandName</a></li>
            }
        </ul>
        <hr />
        <h5>Loại Sản Phẩm</h5>
        <ul class="list-group">
            @foreach (var c in ViewBag.categories)
            {
                <li class="list-group-item"><a style="color:black;text-decoration:none" href="/Product/sbar1/@c.CatelogyId">@c.CatelogyName</a></li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="content">
            <h2>Sản phẩm</h2>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Giá
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/Product/sbar/?id=@ViewBag.id&sortCol=Price&cheDo=asc">Xắp xếp tăng dần theo giá</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Product/sbar/?id=@ViewBag.id&sortCol=Price&cheDo=desc">Xắp xếp giảm dần theo giá</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="img" src="~/image/@a.Image" />
                                <div class="overlay">
                                    <a href="/Product/detail/@a.ProductID" class="buy-btn">Buy Now</a>
                                </div>
                            </div>

                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">@a.ProductName</a>
                                <span>@a.AvailabilityStatus</span>
                                <a href="#" class="price">@a.Price đ</a>
                            </div>

                        </div>
                    </div>
                }
            </div>


            <div class="pagination justify-content-center">
                @{
                    int prev = ViewBag.page - 1;
                    if (prev <= 0)
                    {
                        prev = 1;
                    }
                    <div class="page-item">
                        <a class="page-link" href="/Product/sbar/@ViewBag.id?search=@ViewBag.search&sortCol=@ViewBag.sortCol&cheDo=@ViewBag.cheDo&page=@prev">Prev</a>
                    </div>
                }
                @for (int i = 1; i <= ViewBag.tongST; i++)
                {
                    if (ViewBag.page == i)
                    {
                        <div class="page-item active">
                            <a class="page-link" href="/Product/sbar/@ViewBag.id?search=@ViewBag.search&sortCol=@ViewBag.sortCol&cheDo=@ViewBag.cheDo&page=@i">@i</a>
                        </div>
                    }
                    else
                    {
                        <div class="page-item">
                            <a class="page-link" href="/Product/sbar/@ViewBag.id?search=@ViewBag.search&sortCol=@ViewBag.sortCol&cheDo=@ViewBag.cheDo&page=@i">@i</a>
                        </div>
                    }

                }
                @{
                    int next = ViewBag.page + 1;
                    if (next > ViewBag.tongST)
                    {
                        next = ViewBag.tongST;
                    }
                    <div class="page-item">
                        <a class="page-link" href="/Product/sbar/@ViewBag.id?search=@ViewBag.search&sortCol=@ViewBag.sortCol&cheDo=@ViewBag.cheDo&page=@next">Next</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

